# Rust
/target/
Rust/target/
**/*.rs.bk
Cargo.lock

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Solana
.anchor/
test-ledger/

# Logs
*.log
*wallet.json
